@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

*,*:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
img {
	width: 100%;
	display: block;
}

.img-flex {
    display: block;
    width: 100%;
}

.logo {
    width: 20%;
    margin: 0 auto;
    padding: none;
    overflow: hidden;
   
}

.top {
    background-color: #64ccc3;
     	padding-top: 80px;  

    
}
    

.nav {
   margin: 0;
    padding: 0px;
    list-style-type: none;
    background-color: #64ccc3;
    display: none;
    text-decoration: none;
    background-color: white;
}

.nav a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    background-color: #64ccc3;
    text-align: center;
    font-size: 18px;

}

.nav-check:checked ~ .nav {
    display: block;
    
}

.nav-check {
    position: absolute;
    top: -3em;
}

.nav-label {
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 3.7em;
}

.nav-label:hover {
    opacity: .7;   
}


.nav-check:checked ~ .nav-label {
    background-color: pink;
}

.nav a,
.nav a:link,
.nav .nav-current:visited {
}
.nav a:visited {
    color: white;
    text-decoration: none;
}
.nav a:hover{
    color: #37306b;
    border-style: solid;
	border-color: #37306b;
	border-width: 4px;
}




  .intro {
    }

.text-center {
    text-align: center;
}

.line {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 255) 49%, rgba(115, 115, 115, 1) 51%, rgba(255, 255, 255, 255) 53%);
    margin: 2.5rem;
}

.back-1 {
    background-color: white;
    padding: 0.4em;
}

.graphic {
    margin: 0;
    padding: 10em;
    position: relative;
    width: 100%;
    background-image: url(http://placehold.it/5000x8000);
    background-size: cover;
}

.icons {
    margin: 0 auto;
}

.fade :hover {
    opacity: .7; 
  
   
}


.footer-content {
 	padding-top: 70px;  
	background-color: #64ccc3;
	padding-bottom: 1em;
    margin-top: 15px;
}


.footer-info { 
	font-size: 18px;
    padding-bottom: 1em;
    display: block;
	padding-right: 2em; 
	padding-left: 2em;
	text-align: center;
    color: white;
}

.contact ul { 
	list-style: none;
	padding: 1.75em 0 0 0;
}

.contact li { 
    font-size: 14px;
    line-height: 15px;
    text-align: center;	
	text-decoration: none;
    	color:white;

}

.contact a:link {
    text-decoration: none;
}

.contact li:hover { 
	opacity: .7;  
}

.contact-icon {
	width: 0.5em;
    margin: 0;
    display: inline-block;    
    width: 20%;
	padding-top: 2.5em;
}

.email a{
	color: grey;
	text-decoration: none;
	font-size: 30px;
	padding: 8px 40px;
	border-style: solid;
	border-color: #37306b;
	border-width: 4px;
    color: #37306b;
}

p a:hover {
    color: white;
    border-color: white;

}

.foot-icon { 
	padding-top: 2.5em;
}


.process-title {
	font-size: 16px;
    text-transform: uppercase;
    margin: 2em 1.5em 0 1.5em;
    padding-top: .5em;
    display: block;
    color: #37306b;
}




.about-title {
	font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #bed5d6;
	padding-bottom: .5em;
    margin: 1.5em;
    display: block;
    color: #bed5d6;
}

.process-p {
    line-height: 1.5rem;
    font-size: 12px;
    display: block;
	margin: .7em 1.5em 1.5em 1.5em;
    color: #37306b;
}

.about-p {
    line-height: 1.5rem;
    font-size: 12px;
    display: block;
	margin: 1.5em;
    color: #37306b;
}


.profile {
    width: 50%;
    border-radius: 50%;
    border: 4px solid #f5982d;
    margin: 0 auto;

}





