<!DOCTYPE html>
<html lang="en-ca">

<head>
    <meta charset="utf-8">
    <title>Kaylin Enright</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/grid.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/type.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
</head>

<body>

    <header role="banner" class=" top masthead pad-t-1-2 pad-b-1-2">



     <nav class="">
            <input type="checkbox" class="nav-check" id="nav-check">
            <label class="nav-label" for="nav-check">
                <img src="images/hamburger.svg" alt="open navagation">
            </label>

            <ul class="nav">
                <li>
                    <a href="{{site.baseurl}}/index">Home</a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/case-one">Annuel Report: Cirque du Soliel</a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/case-two">Marketing Campaign: Tiffany & Co.</a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/case-three.html">Handmade Typography Book</a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/case-four.html">Package Redesign</a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/case-five.html">UI/UX Design: Bar Buddy</a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/case-six.html">Magazine Layout</a>
                </li>
            </ul>
        </nav>

    </header>
    
     

    {{content}}
    

            <div class="footer-content">
            <p class="footer-info">Feel free to contact me if you want to work together in the future, or you just like what you saw</p>

            <p class="email text-center">
                <a href="mailto:kaylin@kaylinenright.ca">Let's talk</a>
            </p>


            <div class="contact">
                <ul>
                    <li>
                        <img class="contact-icon" src="images/mail.svg" alt="">kaylin@kaylinenright.ca</li>
                </ul>
            </div>


            <div class="grid">
                <div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3 gutter">
                    <a href="https://www.linkedin.com/in/kaylinenright">
                        <img class="foot-icon" src="images/linkedin.svg" alt="LinkedIn link">
                    </a>
                </div>
                <div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3 gutter">
                    <a href="https://www.behance.net/kaylin-enright">
                        <img class="foot-icon" src="images/behance.svg" alt="Behance link">
                    </a>
                </div>
                <div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3 gutter">
                    <a href="https://twitter.com/kaylinenright">
                        <img class="foot-icon" src="images/Twitter.svg" alt="Twitter link">
                    </a>
                </div>
            </div>

</body>

</html>