
---
layout: default
---
        

<figure class="graphic">
    </figure>

   
{% for portfolio in site.data.portfolio-pieces %}

{{page.portfolio-pages}}

      <div class="text-center pad-top">
            <h2 class="text-center">
                <span class="about-title">{{page.title}}</span>
            </h2>
        </div>


    
    
        <div class="grid">

            <div class=" unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
                <h3 class="process-title">{{page.heading1}}</h3>
                <p class="process-p">{{page.para-1}}</p>
                
                <h3 class="process-title">{{page.heading-2}}</h3>
                <p class="process-p">{{page.para-2}}</p>
                
                <h3 class="process-title">{{page.heading-3}}</h3>
                <p class="process-p">{{page.para-3}}</p>
            </div>
        

            <div class=" unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
                <a href="case-two.html">
                    <img class="island-1-2 img-flex icons" src="{{page.image-1}}" alt="Case Two">
                </a>
            </div>
            
        </div>

        <div class="grid">

            <div class=" unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
                    <img class="island-1-2 img-flex icons" src="{{page.image-2}}" alt="Case One">
            </div>


            <div class=" unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
                    <img class="island-1-2 img-flex icons" src="{{page.image-3}}" alt="Case Two">
            </div>


            <div class=" unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
                    <img class="island-1-2 img-flex icons" src="{{page.para-4}}" alt="Case Three">
            </div>
        </div>
{% endif %}


