--- 
layout: default
---

<div class="text-center pad-top side-margin">
    <h1 class="text-center">
        <span class="about-title">{{page.title}}</span>
    </h1>
</div>




<div class="grid side-margin">

    <div class=" unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
        <h2 class="process-title">{{page.heading-1}}</h2>
        <p class="process-p">{{page.para-1}}</p>

        <h2 class="process-title">{{page.heading-2}}</h2>
        <p class="process-p">{{page.para-2}}</p>

        <h2 class="process-title">{{page.heading-3}}</h2>
        <p class="process-p">{{page.para-3}}</p>
    </div>


    <div class=" unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
            
            <img class="gutter-1-2 img-flex icons" src="{{site.baseurl}}/images/{{page.image-1}}" alt="{{page.image-caption-1}}">
    </div>

</div>

<div class="grid pad-t-2 side-margin">

    <div class=" unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 pad-b-1-2">
        <img class="gutter-1-2 img-flex icons" src="{{site.baseurl}}/images/{{page.image-2}}" alt="{{page.image-caption-2}}">
    </div>


    <div class=" unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 pad-b-1-2">
        <img class="gutter-1-2 img-flex icons" src="{{site.baseurl}}/images/{{page.image-3}}" alt="{{page.image-caption-3}}">
    </div>


    <div class=" unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 pad-b-1-2">
        <img class="gutter-1-2 img-flex icons" src="{{site.baseurl}}/images/{{page.image-4}}" alt="{{page.image-caption-4}}">
    </div>
</div>




<div class="grid side-margin">
    <div class=" unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
        <img class="gutter-1-2 img-flex icons" src="{{site.baseurl}}/images/{{page.image-5}}" alt="{{page.image-caption-5}}">
    </div>


    <div class=" unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
        <img class="gutter-1-2 img-flex icons" src="{{site.baseurl}}/images/{{page.image-6}}" alt="{{page.image-caption-6}}">
    </div>


    <div class=" unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
        <img class="gutter-1-2 img-flex icons" src="{{site.baseurl}}/images/{{page.image-7}}" alt="{{page.image-caption-7}}">
    </div>
</div>




    <div class="grid pad-t-2 side-margin">
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 pad-b">
        <h2 class="process-title">{{page.heading-4}}</h2>
        <p class="process-p">{{page.para-4}}</p>
        </div>
   
    
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 pad-b ">
        <h2 class="process-title">{{page.heading-5}}</h2>
        <p class="process-p">{{page.para-5}}</p>
        </div>
        
        
     </div>







{{content}}

